.footer {
    margin-top: 2em;
    background-color: $color-neutral;
    border-radius: 20px;
    box-shadow: 5px 10px 8px $color-neutral-darker;
    

    &__span{
      font-size: 2em;
      font-family: serif;
      color: $color-dark;
      text-align: center;
      padding: 2em;
    }
  }
  
  // .footer span {
  //   position: absolute;
  //   bottom: 0;
  //   left: 0;
  //   right: 0;
  //   padding: 3px;
   
  // }