
.jumbotron{
    margin-top: 1em;
    text-align: center;
    background-image: radial-gradient($color-lightCool,$color-lightCool-darker);
    width: 100%;
    text-decoration: none;
    list-style: none;
    color: $color-dark;
    overflow: hidden;
    margin-bottom: 1em;
    border-radius: 20px;
    box-shadow: 5px 10px 8px $color-bright;

    &__heading{
        font-family: $font-serif;
        font-size: 6rem;

    }
    &__subheading{
        font-family: $font-cursive;
        font-size: 5rem;
        color: $color-neutral-darker;
    }
}