//colors

$color-dark: #2c3531;
$color-bright: #116466;
$color-neutral: #d9b08c;
$color-neutral-darker: #826953;
$color-neutral-evendarker: #705a47;
$color-lightWarm: #ffcb9a;
$color-lightCool: #c1e8e2;
$color-lightCool-darker: #77a39c;
$color-lightCool-darkest: #597c76;
$color-alert: #c75050;

//fonts

$font-cursive:  'Shadows Into Light Two', cursive;
$font-sans: 'Raleway', sans-serif;
$font-serif: 'Special Elite', cursive;


// font-family: 'Special Elite', cursive;
// font-family: 'Raleway', sans-serif;
// font-family: 'Shadows Into Light Two', cursive;