.search{
    background-color: $color-neutral-darker;
    &__form{
        display:flex;
        justify-content: center;
        background-color: $color-neutral-darker;
        padding: 2em;
        border-radius: 20px;
        box-shadow: 5px 10px 8px $color-neutral-evendarker;
        margin-top: 2em;

        &--heading{
            font-size: 4em;
            font-family: $font-sans;
            color: $color-lightWarm;
            padding-right: 1em;
        }
        &--input{
            font-size: 4em;
            color: $color-dark;
            font-family: $font-cursive;
            padding: 1em 1em;
            border-radius: 20px;
            border: solid 2px $color-dark;
            outline: none;
            background-color: $color-neutral;
            box-shadow: inset 0px 0px 15px $color-dark;

        }
        &--button{
            font-size: 4em;
            font-family: $font-sans;
            text-decoration: none;
            padding: 0em 1em;
            border-radius: 20px;
            background-color: $color-bright;
            color: $color-lightWarm;
            border: solid 2px $color-dark;
            outline: none;   
            cursor: pointer;
            box-shadow: 5px 10px 8px $color-dark;
        }
        &--button:hover{
            background-color: $color-lightWarm;
            color: $color-bright;

        }
        &--button:active{
            background-color: $color-lightWarm;
            color: $color-bright;
            transform: translateY(4px)

        }
        &--openmsg{
            font-size: 4em;
            font-family: $font-sans;
            text-align: center;
            color: $color-lightCool;
        }
        &--alert{
            font-size: 4em;
            font-family: $font-sans;
            text-align: center;
            color: $color-alert;
        }

    }
}